<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <title>Yelp Camp</title>
  </head>
  <body>
    <div id="carouselSlides" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselSlides" data-slide-to="0" class="active"></li>
        <li data-target="#carouselSlides" data-slide-to="1"></li>
        <li data-target="#carouselSlides" data-slide-to="2"></li>
        <li data-target="#carouselSlides" data-slide-to="3"></li>
        <li data-target="#carouselSlides" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/images/K3mPv14.jpg"
            class="d-block w-100 vh-100"
            alt="camp in snowy mountain"
          />
          <div class="container">
            <div class="carousel-caption" style="bottom: 35%;color: black">
              <h1>Welcome to YelpCamp</h1>
              <p class="font-weight-bold">
                View, see and edit your campgrounds
              </p>
              <a class="btn btn-large btn-primary" href="/campgrounds"
                >All Campground</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="/images/lake-sara-1892494_960_720.jpg"
            class="d-block w-100 vh-100"
            alt="camp next to a lake"
          />
          <div class="container">
            <div class="carousel-caption" style="bottom: 35%">
              <h1>Welcome to YelpCamp</h1>
              <p class="font-weight-bold">
                View, see and edit your campgrounds
              </p>
              <a class="btn btn-large btn-primary" href="/campgrounds"
                >All Campground</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="/images/a2a8fca1-f81e-4e60-80e1-ced3bb9afeafHiResProxy-compressor.jpg"
            class="d-block w-100 vh-100"
            alt="camp at night"
          />
          <div class="container">
            <div class="carousel-caption" style="bottom: 35%;">
              <h1>Welcome to YelpCamp</h1>
              <p class="font-weight-bold">
                View, see and edit your campgrounds
              </p>
              <a class="btn btn-large btn-primary" href="/campgrounds"
                >All Campground</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="/images/TVGe0Ef.jpg"
            class="d-block w-100 vh-100"
            alt="camp in the morning"
          />
          <div class="container">
            <div class="carousel-caption" style="bottom: 35%; color: black;">
              <h1>Welcome to YelpCamp</h1>
              <p class="font-weight-bold">
                View, see and edit your campgrounds
              </p>
              <a class="btn btn-large btn-primary" href="/campgrounds"
                >All Campground</a
              >
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="/images/emvhOnb.jpg"
            class="d-block w-100 vh-100"
            alt="camp in rocky mountain"
          />
          <div class="container">
            <div class="carousel-caption" style="bottom: 35%;">
              <h1>Welcome to YelpCamp</h1>
              <p class="font-weight-bold">
                View, see and edit your campgrounds
              </p>
              <a class="btn btn-large btn-primary" href="/campgrounds"
                >All Campground</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
